h1{
    color: antiquewhite;
    background-color: brown;
    text-align: center;
    border:solid cornsilk;

}
.walton
{
    font-size: 80px;
    background-color: darkslategray;
    text-align: center;
    border-style: solid;
    border-color: coral;
    border-radius: 15px;
    border: 400px;
}
